<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12 - Ajax - Axios</title>
</head>

<body>
    <h2>Ajax - Axios</h2>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
            <ul>
                <li v-for="error in errors">{{error}}</li>
            </ul>
            </p>
            <label>Title : </label>
            <input type="text" name="title" ref="title" v-model="title">
            <label>Description : </label>
            <textarea name="description" ref="description" v-model="description"></textarea>
            <input type="submit" value="SUBMIT">
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                newName: "",
                users: [
                    { 'name': 'Muhammad Iqbal Mubarok', },
                    { 'name': 'Rubu Purwanti', },
                    { 'name': 'Faqih Muhammad', },
                ]

            },
            methods: {
                addName: function () {
                    this.users.push({ 'name': this.newName });
                    this.newName = "";
                },
                editName: function () {

                },
            }
        })
    </script>
</body>

</html>