<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model:value="newName" id="name" />
        <button @click="addName">add</button>
        <ul>
            <li v-for="item in users">
                <p>{{ item.name }} <button @click="editName"> edit</button> || <button> delete</button></p>
            </li>

        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                newName: "",
                users: [
                    { 'name': 'Muhammad Iqbal Mubarok', },
                    { 'name': 'Rubu Purwanti', },
                    { 'name': 'Faqih Muhammad', },
                ]

            },
            methods: {
                addName: function () {
                    this.users.push({ 'name': this.newName });
                    this.newName = "";
                },
                editName: function () {

                },
            }
        })
    </script>
</body>

</html>