<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div id="example-1">
            <ul>
                <li v-for="item in komentar">
                    {{ item.text }} || {{ item.tanggal }}
                </li>
            </ul>
            <button v-on:click="counter += 1">+</button>
            <p>{{item.text}} || {{item.tanggal}} || Score : {{ counter }} </p>
            <button v-on:click="counter -= 1">-</button>
            <br>
            <input type="text" placeholder="tambah komentar" v-model:value="komentar" />
            <button @click="addTask">Add</button>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#example-1',
            data: {
                counter: 0,

                komentar:
                    [
                        { text: 'Komentar 1', tanggal: '21-06-2021' },
                        { text: 'Komentar 2', tanggal: '21-06-2021' },
                        { text: 'Komentar 3', tanggal: '21-06-2021' }
                    ]
            },
            methods: {
                addTask: function () {
                    this.komentar.push({ 'text': this.komentar, 'tanggal': new.date().format('DD-MM-YYYY') });
                    this.komentar = "";
                }
            }
        })
    </script>
</body>

</html>